NODE_ENV=development
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=inventory_db
POSTGRES_USER=inventory_user
POSTGRES_PASSWORD=inventory_password
DATABASE_URL=postgresql://inventory_user:inventory_password@localhost:5432/inventory_db
